<section class="h-[100vh] relative" id="about">
  <div
    class="bg-[url(../../../../public/images/mission_image_1.jpg)] bg-cover bg-fixed h-full z-[-1] grayscale"
  >
  </div>
  <div id="container" class="absolute inset-0 h-full">
    <div class="flex flex-col gap-4 justify-center h-full w-1/2">
      <span><a href="" class="transition-all duration-500 bg-[#B81D8C] text-white px-6 py-2">About Us</a></span>  
      <p class="text-6xl font-bold w-3/5 leading-[4rem] opacity-0 aboutPara">Advancing Healthcare and <span class="text-[#B81D8C]">Improving Lives</span></p>
      <p class="text-black text-xl opacity-0 aboutPara">
        We are dedicated to revolutionizing healthcare by developing innovative
        pharmaceutical solutions that improve quality of life. Our mission is to
        deliver high-quality, affordable medicines, foster innovation in
        research, and build partnerships that empower patients, healthcare
        professionals, and society.
      </p>
      <div></div>
    </div>
  </div>
</section>
