---
import { Clock9, Facebook, Mail, MapPinHouse, Phone, Twitter, Youtube, Download } from "lucide-react";
---

<section id="footer" class="">
    <div id="container" class="h-[60vh] bg-[url(/images/footer_image.jpeg)] bg-no-repeat bg-cover bg-left-bottom text-[#B81D8C]">
        <div class="h-full flex justify-between pt-[8vh]">
            <div class="flex flex-col gap-6">
                <h3 class="font-semibold text-2xl underline underline-offset-8 text-black">Contact</h3>
                <ul class="space-y-3">
                    <li><MapPinHouse className="inline text-[#B81D8C] mr-4"/>Gaindakot-04, Nawalpur </li>
                    <li><Phone className="inline text-[#B81D8C] mr-4"/>+977 78 502004 </li>
                    <li><Mail className="inline text-[#B81D8C] mr-4"/>info@timepharma.com</li>
                    <li><Clock9 className="inline text-[#B81D8C] mr-4"/>10 to 5pm</li>
                </ul>
            </div>
            <div class="flex flex-col gap-6">
                <h3 class="font-semibold text-2xl underline underline-offset-8 text-black">About</h3>
                <ul class="space-y-3">
                    <li>Company Profile</li>
                    <li>Message Form Executive</li>
                    <li>Board of Directors</li>
                    <li>Mission and Vision</li>
                    <li>Marketing Sales</li>
                </ul>
            </div>
            <div class="flex flex-col gap-6">
                <h3 class="font-semibold text-2xl underline underline-offset-8 text-black">Deparment</h3>
                <ul class="space-y-3">
                    <li>Quality Assurance</li>
                    <li>Manufacturing Unit</li>
                    <li>Quality Control</li>
                    <li>Corporate Office</li>
                </ul>
            </div>
            <div class="flex flex-col gap-6">
                <h3 class="font-semibold text-2xl underline underline-offset-8 text-black">Check Us</h3>
                <span><a href="" class="transition-all duration-500 bg-[#B81D8C] text-white px-3 py-2"><Mail className="inline mr-4"/>Check Mail</a></span> 
                <ul class="flex gap-3">
                    <li><Facebook /></li>
                    <li><Youtube /></li>
                    <li><Twitter /></li>
                </ul>
                <span> <a href="" class="transition-all duration-500 bg-[#B81D8C] text-white px-3 py-2"><Download className="inline mr-4"/>Download Brochure</a></span> 
            </div>
        </div>
    </div>
</section>