---
import Header from "./Header.astro";
---

<div class="h-[100vh] w-[100vw]">
  <iframe
    src="https://www.youtube.com/embed/4Q8Gx1Qpquc?si=GadNQOoMM9ZJHQ-y&controls=0&start=0&end=50&autoplay=1&mute=1&playsinline=1&playlist=4Q8Gx1Qpquc&loop=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
    class="h-full w-full"></iframe>
  <div class="absolute inset-0 bg-black opacity-50 h-full w-full"></div>
  <Header />
</div>
